{%- comment -%} Extruded 3D logo: 14 stacked layers + face. Params: id, class {%- endcomment -%}
<div class="logo3d {{ include.class }}">
  <span class="l"></span><span class="l"></span><span class="l"></span><span class="l"></span><span class="l"></span><span class="l"></span><span class="l"></span><span class="l"></span><span class="l"></span><span class="l"></span><span class="l"></span><span class="l"></span><span class="l"></span><span class="l"></span>
  <div class="face">{% include logo-mark.html id=include.id class="logo-face" %}</div>
</div>
